@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
}

/* small visual polish */
::-webkit-scrollbar { height: 8px; width: 8px; }
::-webkit-scrollbar-thumb { background: rgba(255,255,255,0.06); border-radius: 10px; }
